.templates {
    padding: 8rem 0;
    &__wrapper {
        width: 63rem;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__link{
        display: inline-block;
        margin-top: 2rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-transform: uppercase;
        text-decoration: underline;
        color: #000000;
        -moz-text-decoration-line: underline;
    }
    .template__slick-slide{
        width: 54rem;
    }
     
    .slick-track {
        margin: 0 auto;
        margin-top: 6.4rem;
        width: 54rem;
        height: 35rem;
    }
}