.templates {
    padding: 80px 0;
    &__wrapper {
        width: 628px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__link{
        display: inline-block;
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: underline;
        color: #000000;
        -moz-text-decoration-line: underline;
    }
    .template__slick-slide{
        width: 543px;
    }
    .slick {
        &-btn{
            position: absolute;
            bottom: -30px;
            background-color: transparent;
            border: none;
            img {
                width: 25px;
            }
        }
        &-next{
            right: 107px;
        }
        &-prev{
            right: 145px;
        }
    }
    .slick-track {
        margin: 0 auto;
        margin-top: 64px;
        width: 543px;
        height: 348px;
    }
}