* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.btn {
    width: 19.6rem;
    height: 5.6rem;
    padding: 2.1rem 3.1rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    background-color: $white;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0 .3rem .6rem, rgba(0, 0, 0, 0.23) 0 .3rem .6rem;
    &__white {
        background-color: $white;
        color: $dark;
    }
    &__min {
        width: 15.6rem;   
    }
}
.title {
    text-align: center;
    font-weight: 400;
    font-size: 5.6rem;
    line-height: 5.6rem;
    color: $dark;
}
.descr {
    text-align: center;
    margin-top: 2.2rem;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: $dark;
}
.slick {

    &-btn{
        position: absolute;
        bottom: -3rem;
        background-color: transparent;
        border: none;
        img {
            width: 2.5rem;
        }
    }
    &-next{
        right: 10.7rem;
    }
    &-prev{
        right: 14.5rem;
    }
    
}
.slick-track {
    width: 70rem;
}