.preview {
    background: url('../img/background/prev_bg.png') center center / cover no-repeat;
    padding: 9.3rem 0 17.3rem 0;
    font-weight: 400;
    font-size: 1.8rem;
    color: $color-white;
    &__left-block {
        width: 50rem;
    }
 
    &__info {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        &-item {
            line-height: 2.2rem;
            &:first-child {
                margin-right: 5rem;
            }
        }
    }   
    
    
    .btn {
        margin-top: 5rem;
    }
}