.protect {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .title {
        text-align: left;
        margin-top: 18.6rem;
    }
    .descr {
        text-align: left;
        margin-top: 2.4rem;
    }
    &__info {
        width: 54.3rem;
    }
    &__parallax {
        min-height: 50rem; 
        width: 66rem;
        background: url('../img/background/parallax.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}