.info {
    position: relative;
    padding: 80px  0 117px;
    color: #FFFFFF;
    background-color: $primary;
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__wrapper {
        width: 543px;
    }
    &__descr{ 
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
    }
    &__author{
        margin-top: 190px;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
    }
    &__site{
        display: inline-block;
        margin-top: 10px;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.27);
    }
    .info__slick-slide{
        width: 700px;
    }
    .slick {
        &-btn{
            position: absolute;
            bottom: -30px;
            background-color: transparent;
            border: none;
            img {
                width: 25px;
            }
        }
        &-next{
            right: 107px;
        }
        &-prev{
            right: 145px;
        }
        
        
    }
    .slick-track {
        width: 700px;
    }
    &__index {
        position: absolute;
        bottom: 83px;
        right: 235px;    
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
    }

}