//Colors
$color-black: #000000;
$color-white: #FFF;
$darkwhite: #EFEFEF;

$color-primary-light: #F2F2F2;
$color-secondary-light: #60777C;

$color-grey-light:#ffffff45;
$bg5: #E5E5E5;
$bg7: #EEEEEE;
$bg9: #EBEBEB;




