.instruction {
    position: relative;
    padding: 73px 0 77px 0;
    background-color: $bg2;
    img {
        width: 100%;
    }
    .instruction__icon {
        &-logo{
            position: absolute;
            top: 50px;
        }
        &-close {
            position: absolute;
            top: 40px;
            right: 33px;
        }
    }
    .title {
        text-align: center;
    }
    .descr {
        width: 569px;
        margin: 22px auto 0;
        text-align: center;
    }
    .box__wrapper {
        margin-top: 77px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .box {
        text-align: left;
        max-width: 450px;
        &:first-child {
            margin: 0;
        }
        &__title {
            margin-top: 40px;
            font-weight: 400;
            font-size: 28px;
            line-height: 34px;
        }
        &__subtitle {
            margin-top: 6px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;

        }
        

    }
}
