.possibility {
    padding: 12.5rem 0;
    background: url('../img/background/possibility_bg.png') center center / cover no-repeat;
    text-align: center;

    .title {
        color: $white;
    }
    .descr {
        color: $white;
    }
    &__link {
        display: inline-block;
        color: $white;
        margin-top: 2.1rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-decoration: underline;
        text-transform: uppercase;
    }
}